# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# ChromaDB
chroma_db/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Secret keys
keys_mytestagent*